.App {
  text-align: center;
}

.data-area-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

td {
  width: 100%;
  display: block;
  text-align: left;
  border: none;
  padding: 1rem;
}